*,*:before, *:after  {
    margin: 0;
    padding: 0;
 }
 body {
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;

 }
 html {
    scroll-behavior: smooth;
 }
 header{
    background-color: darkcyan;
    position: fixed;
    width: 100%;
    height: 80px;
 }
 .header_container{
    display: flex;
    height: 80px;    
    padding-right: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
 }
    .header_container .logo_container{
        align-items: center;
        margin-right: 30px;
        margin-left: 30px;
        display: flex;
    }
        .header_container .logo_container .logo_img{
            width: 40px;
            height: auto;
            border-radius: 60px;
            overflow: hidden;
            border: 3px solid lightcyan;
        }
        .header_container .logo_container .my_name{
            color: white;
            text-transform: uppercase;
            margin-left: 20px;
        }
    .header_container .header_nav{
        order: 2;
        display: flex;
        align-items: center;
    }
        .header_nav .nav_ul li {
            list-style: none;
            display: inline-block;
        }
        .header_nav .nav_ul li a { 
            text-decoration: none;
            font-size: 16px;
            color: white;
            padding: 20px; 
            text-transform: uppercase;
        }
        .header_nav .nav_ul li a:hover {
            color: lightcyan
        }
 @media screen and (min-width: 769px){
    .header_container .logo_container .my_name{
        font-size: 16px;
    }
    .header_nav .nav_ul li a { 
        font-size: 16px;
    }
    .hamburger_menu_container{
        visibility: hidden;
    }
    .main-footer__upper{
        padding: 6rem 0;
       }     
       .main-footoer_row-1 {
        margin-bottom: 5rem;
       }
   
 }
 @media screen and (min-width: 481px) {
    .header_container .logo_container .my_name{
        font-size: 12px;
    }
    .header_nav .nav_ul li a { 
        font-size: 12px;
    }
    .hamburger_menu_container{
        visibility: hidden;
    }
    .main-footer__upper{
        padding: 6rem 0;
       }     
       .main-footoer_row-1 {
        margin-bottom: 5rem;
       }
   
 }
 @media screen and (max-width: 480px) {
    .header_nav{
        visibility: hidden;
    }
    .header_container .logo_container .logo_img{
        width: 60px;
        height: 45px;
        border-radius: 30px;
        overflow: hidden;
        margin-left: 20px;
    }
    .header_container .logo_container .my_name{
        font-size: 10px;
        margin-left: 10px;
    }
 
 
   .hamburger_menu_container{
        display: flex;
    }
 
 
    .hamburger_menu_content{
        margin: 0;
        padding: 0;
        font-family: inherit;
    }
    .hamburger_menu_content .ham_ul li{
        display: block;
        text-decoration: none;
    }
    .hamburger_menu_content .ham_ul li a{
        text-decoration: none;
        font-size: 10px;
        color: white;
        padding: 10px; 
        text-transform: uppercase;
    }
    .ham_img .nav_open{
        width: 100px;
    }
    .ham_img .nav_close{
        width: 100%;
    }
    .home_left_side{
        width: 100%;
    }
    
    .main-footer_row-2 {
        width: 100%; 
    }    
        .main-footer__lower {
        padding: 3.5rem 0;
    }
    }

.home_left_side {
    height: 400px;
    padding: 200px 100px;
    background: url(images/home_background.png);
    background-size: cover;
}
.home_left_side h1{
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}
.home_left_side h3{
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 35px;
    text-align: center;
}
.home_left_side p{
    font-size: 30px;
    text-align: center;
}
.myWork {
    height: 500px;
    padding: 150px 100px;
 }

 .grid-floats{
     display: flex;
     
 }
 .myWork h1{
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
 }
.grid-item{
    padding: 20px;
    list-style: none;
}
.grid-item h2{
    color: darkcyan;
}
.grid-item h2, .job-description{
    padding-bottom: 10px;
}

.grid-item h4{
    font-size: 12px;
    font-style: italic;
    padding-bottom: 10px;
}

.grid-item li{
    list-style: none;
    padding-bottom: 20px;
}
.grid-item .main_tasks{
    font-weight: bold;
    padding-bottom: 10px;
}

.cell_tower{
    width: 270px;
}

#git_projects{
    height: 100px;
    padding: 50px 100px 150px 100px;
}
.my_git_project h2{
    text-transform: uppercase;
    text-align: center;
}
#project{
    font-weight: bold;
    list-style: none;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    color: darkcyan;
}

.aboutMe{
    height: 500px;
    padding: 150px 100px;
}
.aboutMe h1{
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
}
.grid-2{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
}
.grid-item1 {
    border: 4px solid darkcyan;
}
.grid-item1 p{
    padding:  10px;
    font-size: 20px;
}

.about_me_img{
    width: 400px;
    border: 4px solid darkcyan; 
}

.contact{
    height: 400px;
}

.contact h1{
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}

.contact{
   width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    padding-top: 5px;
}

/*form{
    display: flex;
    justify-content: space-between;
}
.form_flex{
    line-height: 100px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 30px;
    border: 5px solid darkcyan;
}
.form_flex h3{
    text-transform: uppercase;
}
form button{
    color: lightcyan;
    background-color: darkcyan;
    width: 150px;
    height: 50px;
    margin-left: 30px;
    align-self: center;
}*/

  .contact-form {
     display: grid;
    flex-direction: column;
  }
  .contact-form_input {
     width: 20rem;
     height: 2rem;
     padding: 0.rem;
     margin: 1rem 0;
     letter-spacing: 0.1rem;
     background-color: white;
     letter-spacing: 0.1rem;
     outline: none;
  }
  .contact-form_input1:focus {
     height: 10rem;
     width: 36rem;
     resize: none;
  }
   .form-submit {
     width: 20rem;
     height:5rem;
     color: lightcyan;
     background-color: darkcyan;
  } 

.main-footer {
    background:darkcyan;
    color:#fff
}
 .main-container {
    max-width:120rem;
    margin:auto;
    width:80%
 }

 .main-footer__upper{
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}

 .main-footoer_row-1{
    order: 2;
 }
 .heading-sm {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
 }
 .main-footer_social-cont {
    margin-top: 2rem;
 }
 a {
    text-decoration: none;
    color: inherit;
 }
.main-footer_icon {
    margin-right: 1rem;
    width:2.5rem
}
.heading-sm_1t {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
 }
 .main-footer_short-desc{
    margin-top: 2rem;
    color: #eee;
    font-size: 1.5;
    line-height: 1.7;
 }
.main-footer_lower {
    padding: 2rem 0;
    border-top: 1px solid lightcyan;
    color: #eee;
    font-size: 1.2rem;
    text-align: left;
    text-align: center;
}
.main-footer_lower a  {
    margin-left: 2px;
}

